<%- include('./header'); %>
    <main class="browse-main">
        <aside>
            <a href="/browse/wc" class='categories hvr-forward'>
                <h1>World Cities</h1>
            </a> 
            <a href="/browse/uku" class='categories hvr-forward'>
                <h1>UK Universities</h1>
            </a>
            <a href="/browse/cof" class='categories hvr-forward'>
                <h1>Coffee</h1>
            </a>
            <a href="/browse/lus" class='categories hvr-forward'>
                <h1>London Underground Stations</h1>
            </a>
            <a href="/browse/4pow" class='categories hvr-forward'>
                <h1>4 Pics 1 Word</h1>
            </a>
            <a href="/browse/kin" class='categories hvr-forward'>
                <h1>King's Surnames</h1>
            </a>
        </aside>
        <section class="browse-section">
            <% 
                data.forEach((post) => {
                    var src = '/uploads/'+post.img;
            %>
            <img class="picture-clue" src="<%- src %>" alt="">
            <%
                })
            %>
            <!-- <img class="picture-clue" src="<%= typeof file != 'undefined' ? file : '' %>" alt=""> -->
        </section>
    </main>
    <%- include('./footer'); %>