<%- include('./header'); %>
    <main>
        <div id="scene" class="welcome">
            <div data-depth="0.3" class="parallax">
                    <h2 class="welcome-header">Welcome to ClueForYou</h2>
                    <p class="subheader">The largest collection of picture clues on the World Wide Web</p>
            </div>
        </div>
        <div class="landing-page-buttons">
            <a href="./browse" class="browse-div">
                <p class="options">Browse</p>
            </a>
            <a href="#" class="make-your-own-div">
                <p class="options">Make Your Own</p>
            </a>
        </div>
    </main>
    <%- include('./footer'); %>